<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>
<entry key="compiler-version">1.1</entry>
<entry key="project">project.dat</entry>
<entry key="compiler-time">1662687166985</entry>
<entry key="title">scratch paint by fskii23 (beta ver)</entry>
<entry key="autostart">true</entry>
</properties>
